.Weather h1 {
  font-size: 38px;
  font-weight: bold;
  color: black;
}

.Weather h2 {
  font-size: 32px;
  color: dimgrey;
}

.Weather .search-button {
  background-color: rgb(240, 128, 128);
  border-color: rgb(240, 128, 128);
}

.Weather .search-button:hover {
  background-color: rgb(182, 97, 97);
  border-color: rgb(182, 97, 97);
}

.Weather .card-body {
  color: dimgrey;
  text-align: center;
}

.Weather .card-body.info {
  text-align: left;
  font-size: 25px;
}

.Weather .current-weather-description {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.Weather .current-weather-description:first-letter {
  text-transform: capitalize;
}

.Weather .current-icon {
  width: 175px;
  margin: -35px auto -5px;
}

.Weather .current-temperature {
  color: black;
  font-size: 33px;
  font-weight: bold;
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -25px;
  color: dimgrey;
}

.Weather .change-unit {
  text-decoration: none;
  color: dimgrey;
}

.Weather .change-unit.active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.Weather .icon {
  width: 70px;
  margin-bottom: 10px;
}

@media (max-width: 567px) {
  .Weather h1 {
    font-size: 25px;
  }
  .Weather h2 {
    font-size: 22px;
  }
  .Weather .card-body.info {
    font-size: 18px;
  }
  .Weather .current-weather-description {
    font-size: 20px;
  }
  .Weather .current-icon {
    width: 130px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .Weather .current-temperature {
    font-size: 22px;
  }
  .Weather .units {
    font-size: 15px;
  }
}
