.Weather h1 {
  font-size: 55px;
  font-weight: bold;
  color: black;
}

.Weather h2 {
  font-size: 32px;
  color: dimgrey;
}

.Weather .search-button {
  background-color: rgb(240, 128, 128);
  border-color: rgb(240, 128, 128);
}

.Weather .search-button:hover {
  background-color: rgb(182, 97, 97);
  border-color: rgb(182, 97, 97);
}

.Weather .card-body {
  color: dimgrey;
  text-align: center;
}

.Weather .card-body.info {
  text-align: left;
  font-size: 25px;
}

.Weather .current-weather-description {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.Weather .current-weather-description:first-letter {
  text-transform: capitalize;
}

.Weather .current-icon {
  width: 175px;
  margin: -35px auto -5px;
}

.Weather .current-temperature {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.units {
  font-size: 20px;
  position: relative;
  top: -25px;
  color: dimgrey;
}

.change-unit {
  text-decoration: none;
  color: dimgrey;
}

.change-unit.active {
  color: black;
  font-weight: bold;
  cursor: default;
}

.Weather .temperature-forecast {
  font-size: 18px;
  margin-bottom: 0;
}

.Weather .temperature-min {
  opacity: 0.7;
}

.Weather .icon {
  width: 70px;
  margin-bottom: 10px;
}
